<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MsdnConfig" type="Illallangi.Msdn.Config.MsdnConfig,Illallangi.Msdn"/>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <MsdnConfig>
    <ExcludedCategoryIds>
      <add Id="65" />
    </ExcludedCategoryIds>
  </MsdnConfig>
</configuration>